@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: .5 ;
    display: flex;
    align-items: center;
    justify-content: center;
}